DJANGO_SECRET_KEY=zmien-to-na-silny-klucz-w-produkcji
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1
STAFFING_SYSTEM_URL=https://adres-systemu-obsad.pl
SITE_URL=https://sedziowie.szps.pl
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
